/* You can add global styles to this file, and also import other style files */
.icon-size{
    font-size: 24px;
    cursor: pointer;
}
.fa-edit{
    color: rgb(23, 116, 38);
}
.fa-trash{
    color: red;
}
.form-backColor{
    background-color: rgb(173, 196, 196);
}